<div class="m-4 p-4 bg-light">

    <h1>ASP.NET MVC Forms</h1>

    <div class="d-grid">

        @Html.ActionLink("Multiple Action Forms", "Index", "MultiActionForm", null, new { @class = "btn btn-primary" })

        <br />

        @Html.ActionLink("Model Validation Forms", "Index", "ModelValidation", null, new { @class = "btn btn-primary" })

        <br />

        @Html.ActionLink("Ajax Forms", "Index", "Ajax", null, new { @class = "btn btn-primary" })

        <br />

        @Html.ActionLink("Jquery Ajax", "JqueryAjax", "Ajax", null, new { @class = "btn btn-primary" })

    </div>

</div>