<form method="post" asp-controller="MultiActionForm" asp-action="SubmitDifferentNames" asp-antiforgery="true">

    <p>Multiple form actions using submit button's name and value properties:</p>

    <hr />

    <i>Buttons are given different names in the HTML markup and different values.</i>

    <hr />

    <input type="submit" name="Save" value="Save" class="btn btn-success" />
    <input type="submit" name="Cancel" value="Cancel" class="btn btn-primary" />

</form>